
.card {
    width: 350px;
    margin: 0 15px
    
 }

.card-img { 
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }

  .card-img img {
    width: 23px;
    height: 30px;
  }

.card-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 16px;
    text-align: center;
  }

.card-text {
    text-align: center;
    color: #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}